<div class="box green" [routerLink]="['/']">First</div>
<div class="box red" [routerLink]="['/second']">Second</div>
<div class="box yellow" [routerLink]="['/e2']">Other</div>

<button (click)="sub()">Sub</button>
<button (click)="bSub()">bSub</button>
<button (click)="fourSec()">1 sec interval</button>
<button class="red" (click)="stopInt()">STOP</button>
<router-outlet></router-outlet>

<style>
  .box {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .green {
    background-color: green;
  }

  .red {
    background-color: red;
  }

  .yellow {
    background-color: yellow;
  }

  button {
    border: 0;
    border-radius: 0;
    background-color: orange;
    margin: 20px 10px 0 0;
    padding: 7px 15px;
  }
</style>
